@font-face {
  font-family: 'ProximaNova';
  src: url(fonts/ProximaNova-Semibold.woff);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'ProximaNova';
}
header {
  background-image: url(images/header-background.png);
  background-size: cover;
  width: 100%;
}
header .row {
  margin-bottom: 4%;
}
header .row .logo {
  margin-top: 0.8%;
  margin-left: 16.5%;
  display: inline-block;
}
header .row .logo img {
  display: inline-block;
  width: 16%;
  vertical-align: top;
}
header .row .logo .col-6 {
  display: inline-block;
}
header .row .logo .col-6 .logo-txt {
  float: left;
  width: 100%;
  font-size: 18px;
}
header .row .logo .col-6 .logo-txt:last-child {
  font-size: 11px;
}
header .row .consultation {
  margin-top: 1%;
  margin-left: 7%;
}
header .row .consultation .number {
  display: inline-block;
  margin-top: 0%;
  margin-left: 10%;
}
header .row .consultation .get-consultation {
  display: inline-block;
  background-color: #ffb504;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 1% 0%;
}
header .row .col-7 {
  margin-left: 1.5%;
}
header .row .col-7 .col-6 {
  margin-left: 25%;
  margin-bottom: 3%;
}
header .row .col-7 .col-4 {
  margin-left: 25%;
  margin-bottom: 5%;
}
header .row .col-7 .cost {
  background-color: #4aa222;
  margin-left: 27%;
  margin-bottom: 2%;
  color: white;
}
header .row .form form {
  background-color: white;
}
header .row .form form p {
  text-align: center;
  padding: 5%;
}
header .row .form form .input-name-txt {
  position: absolute;
  left: 37%;
  bottom: 66%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
header .row .form form .input-tel-txt {
  position: absolute;
  left: 30%;
  bottom: 48%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
header .row .form form input {
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  border-radius: 8px;
  height: 3rem;
  border: 1px solid #ddd;
}
header .row .form form .button {
  background-color: #ffb504;
  border-radius: 8px;
  border: none;
  height: 50px;
  color: white;
}
main .about {
  margin-bottom: 5%;
}
main .about .row .title {
  text-align: center;
  font-family: "ProximaNova";
  font-weight: 500;
  margin-bottom: 5%;
}
main .about .row {
  margin: 0% 7%;
}
main .about .row .article {
  text-align: center;
}
main .about .row .article .icon {
  margin-bottom: 10%;
}
main .about .row .article .txt-title {
  margin-bottom: 10%;
  font-size: 20px;
  font-weight: 500;
}
main .about .row .article .txt {
  text-align: justify;
}
main .price {
  background-color: #286b0a;
  padding: 5%;
}
main .price .title {
  color: white;
  text-align: center;
}
main .price .txt {
  color: white;
  text-align: center;
  margin-bottom: 2%;
}
main .price .section {
  background-color: white;
  margin-right: 0%;
  padding: 1%;
  text-align: center;
  font-family: "ProximaNova";
}
main .price .section .section-title {
  margin-bottom: 5%;
}
main .price .section .section-img {
  margin-bottom: 5%;
}
main .price .section .section-img img {
  width: 100%;
}
main .price .section .section-price {
  margin: 5% 0%;
}
main .price .section .section-reasons .reason {
  margin: 3% 0%;
}
main .price .section .section-reasons .reason img {
  width: 8%;
  margin-right: 5%;
}
main .price .section .section-reasons .first-section-last-reson {
  margin-bottom: 158px;
}
main .price .section .section-reasons .second-section-last-reson {
  margin-bottom: 72px;
}
main .price .section .section-reasons .third-section-last-reson {
  margin-bottom: 15%;
}
main .price .section .section-button {
  background-color: #ffb504;
  color: white;
  border-radius: 8px;
  padding: 5% 0%;
  border: none;
}
main .reviews {
  padding: 5% 10%;
  background-image: url(images/bk.png);
}
main .reviews .title {
  text-align: center;
}
main .reviews .carousel-inner {
  padding: 3%;
}
main .reviews .carousel-item {
  background-color: white;
  padding: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
main .reviews .carousel-item .images .main-img {
  width: 100%;
}
main .reviews .carousel-item .images img {
  padding-right: 0.1%;
}
main .reviews .carousel-item .rew .col {
  padding-bottom: 3%;
}
main .reviews .carousel-item .rew .comment img {
  width: 90%;
  margin: 0% 4%;
}
main .reviews .carousel-item .rew .comment .col-11 {
  text-align: justify;
  position: absolute;
  bottom: 3%;
  left: 3%;
  font-size: 90%;
}
main .reviews a {
  background-color: #49bf15;
  width: 3%;
  height: 10%;
  margin-top: 20%;
}
main .reviews .col-8 {
  text-align: center;
  background-color: white;
  margin: 5% 20%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
main .reviews .col-8 .title {
  padding: 2% 0%;
  text-align: center;
}
main .reviews .col-8 form {
  margin: 2% 5%;
}
main .reviews .col-8 form input {
  width: 40%;
  border-radius: 8px;
  height: 3rem;
  border: 1px solid #ddd;
  display: inline-block;
}
main .reviews .col-8 form .input-name-txt {
  position: absolute;
  left: 23%;
  bottom: 75%;
  background-color: #fff;
  padding: 0% 2%;
  color: #565656;
}
main .reviews .col-8 form .input-tel-txt {
  position: absolute;
  left: 57%;
  bottom: 75%;
  background-color: #fff;
  padding: 0% 2%;
  color: #565656;
}
main .reviews .col-8 form .button {
  background-color: #ffb504;
  margin-top: 3%;
  border: none;
  border-radius: 8px;
  color: white;
  height: 50px;
  padding: 0% 5%;
}
main .reviews .img {
  width: 60%;
  position: absolute;
  top: -23%;
  right: 85%;
}
main .how-it-works {
  margin-top: 5%;
  text-align: center;
}
main .how-it-works .row {
  padding: 3% 0% 1.5% 10%;
}
main .how-it-works .row .article {
  margin-left: 2%;
  text-align: left;
}
main .how-it-works .row .article .title {
  text-align: left;
  margin: 3% 0%;
}
main .how-it-works .row .article .txt {
  width: 70%;
}
main .adv {
  padding-top: 7%;
  padding: 0% 10%;
  background-color: #f5f5f5;
}
main .adv .title {
  font-size: 3rem;
  color: #358015;
  text-align: center;
  padding-top: 3%;
}
main .adv .txt {
  text-align: center;
  margin: 2% 0%;
}
main .adv .row {
  margin: 4% 0%;
}
main .adv .row .icon {
  margin: 5% 0%;
}
main .adv .row .txt {
  text-align: justify;
  width: 80%;
}
main .pr {
  padding-left: 10%;
}
main .pr .title {
  text-align: center;
  margin: 5% 10% 5% 0%;
}
main .pr .prob {
  border: 4px solid #f5f5f5;
  width: 40%;
  display: inline-block;
  margin-right: 10%;
  padding-left: 5%;
}
main .pr .prob .title {
  color: #b2b2b2;
  padding-top: 5%;
  text-align: left;
}
main .pr .prob .row {
  margin: 5% 0%;
  padding: 2% 0%;
}
main .pr .prob .row .icon {
  margin-right: 5%;
}
main .pr .prob .row .txt {
  width: 80%;
  display: inline-block;
}
main .pr .sol {
  border: 4px solid #358015;
  width: 40%;
  display: inline-block;
  padding-left: 5%;
}
main .pr .sol .title {
  text-align: left;
  padding: 3% 0%;
}
main .pr .sol .row {
  margin: 3% 0%;
  padding: 2% 0%;
  font-size: 0.9rem;
}
main .pr .sol .row .icon {
  width: 7%;
  display: inline-block;
}
main .pr .sol .row .txt {
  width: 90%;
  display: inline-block;
}
main .pr .sol .row img {
  width: 80%;
}
main .materials {
  margin-top: 1%;
  padding: 5% 0%;
  background-image: url(images/bk.png);
}
main .materials .title {
  text-align: center;
  padding: 1% 0%;
}
main .materials .txt-first {
  margin-bottom: 6%;
}
main .materials .txt {
  text-align: center;
}
main .materials .row {
  padding: 5% 7%;
  text-align: center;
}
main .materials a {
  color: #286b0a;
  text-decoration: underline;
}
main .fb {
  background-image: url(images/bk-img.png);
  background-position: center right 20%;
  padding: 10% 15%;
}
main .fb .txt {
  margin-right: 20%;
}
main .fb .txt h2 {
  margin-bottom: 15%;
}
main .fb .form {
  background-color: white;
}
main .fb .form p {
  text-align: center;
  padding: 5%;
}
main .fb .form .input-name-txt {
  position: absolute;
  left: 36%;
  bottom: 67.5%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
main .fb .form .input-tel-txt {
  position: absolute;
  left: 27.5%;
  bottom: 51%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
main .fb .form input {
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  border-radius: 8px;
  height: 3rem;
  border: 1px solid #ddd;
}
main .fb .form .button {
  background-color: #ffb504;
  border-radius: 8px;
  border: none;
  height: 50px;
  color: white;
}
main .service {
  background-color: #286b0a;
  padding: 5% 10%;
  color: white;
}
main .service .title {
  text-align: center;
  padding: 1% 0%;
}
main .service .txt {
  text-align: center;
  padding: 1% 0%;
}
main .service .article {
  text-align: center;
}
main .service .article img {
  width: 70%;
  margin: 10% 0%;
}
main .service .article button {
  background-color: #ffb504;
  color: white;
  border-radius: 8px;
  padding: 3% 15%;
  border: none;
  margin-top: 5%;
}
main .contacts {
  background-image: url(images/bk2.png);
  background-position: center right 25%;
  padding: 5% 15%;
}
main .contacts .title {
  text-align: left;
}
main .contacts .inf {
  margin-right: 15%;
}
main .contacts .inf .txt {
  margin: 3% 0%;
}
main .contacts form {
  background-color: white;
}
main .contacts form p {
  text-align: center;
  padding: 5%;
}
main .contacts form .input-name-txt {
  position: absolute;
  left: 36%;
  bottom: 77%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
main .contacts form .input-tel-txt {
  position: absolute;
  left: 29%;
  bottom: 62.5%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
main .contacts form .input-email-txt {
  position: absolute;
  left: 40%;
  bottom: 48%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
main .contacts form .input-message-txt {
  position: absolute;
  left: 33%;
  bottom: 33.5%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
main .contacts form input {
  margin-left: 10%;
  margin-bottom: 10%;
  width: 80%;
  border-radius: 8px;
  height: 3rem;
  border: 1px solid #ddd;
}
main .contacts form .message {
  height: 100px;
}
main .contacts form .button {
  background-color: #ffb504;
  border-radius: 8px;
  border: none;
  height: 50px;
  color: white;
}
footer {
  padding: 1% 15%;
}
footer .logo {
  display: inline-block;
  margin-top: 2%;
}
footer .logo img {
  display: inline-block;
  width: 16%;
  vertical-align: top;
}
footer .logo .col-6 {
  display: inline-block;
}
footer .logo .col-6 .logo-txt {
  float: left;
  width: 100%;
  font-size: 18px;
}
footer .logo .col-6 .logo-txt:last-child {
  font-size: 11px;
}
footer .contacts {
  text-align: center;
  margin-right: 15%;
  margin-top: 0.5%;
}
footer .contacts .col {
  text-align: center;
}
footer .site {
  text-align: end;
  margin-top: 0%;
}
