@font-face {
  font-family: 'ProximaNova';
  src: url(fonts/ProximaNova-Semibold.woff);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'ProximaNova';
}
html {
  padding: 0%;
  margin: 0%;
}
header {
  background-image: url(images/header-background.png);
  background-size: cover;
  width: 100%;
}
header .row {
  margin-bottom: 4%;
}
header .row .logo {
  margin-top: 0.8%;
  margin-left: 16.5%;
  display: inline-block;
}
header .row .logo img {
  display: inline-block;
  width: 16%;
  vertical-align: top;
}
header .row .logo .col-6 {
  display: inline-block;
}
header .row .logo .col-6 .logo-txt {
  float: left;
  width: 100%;
  font-size: 18px;
}
header .row .logo .col-6 .logo-txt:last-child {
  font-size: 11px;
}
header .row .consultation {
  margin-top: 1%;
  margin-left: 7%;
}
header .row .consultation .number {
  display: inline-block;
  margin-top: 0%;
  margin-left: 10%;
}
header .row .consultation .get-consultation {
  margin-top: 1%;
  display: inline-block;
  background-color: #ffb504;
  border-radius: 5px;
  color: white;
  text-align: center;
}
header .row .col-7 {
  margin-left: 1.5%;
}
header .row .col-7 .col-6 {
  margin-left: 25%;
  margin-bottom: 3%;
}
header .row .col-7 .col-4 {
  margin-left: 25%;
  margin-bottom: 5%;
}
header .row .col-7 .cost {
  background-color: #4aa222;
  margin-left: 27%;
  margin-bottom: 2%;
  color: white;
}
header .row .form form {
  background-color: white;
}
header .row .form form p {
  text-align: center;
  padding: 5%;
}
header .row .form form .input-name-txt {
  position: absolute;
  left: 37%;
  bottom: 66%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
header .row .form form .input-tel-txt {
  position: absolute;
  left: 30%;
  bottom: 48%;
  background-color: #fff;
  padding: 0% 3%;
  color: #565656;
}
header .row .form form input {
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  border-radius: 5px;
  height: 3rem;
  border: 1px solid #ddd;
}
header .row .form form .name {
  margin-right: ;
}
header .row .form form .button {
  background-color: #ffb504;
  border-radius: 5px;
  border: none;
  height: 50px;
  color: white;
}
main .about {
  margin-bottom: 5%;
}
main .about .row .title {
  text-align: center;
  font-family: "ProximaNova";
  font-weight: 500;
  margin-bottom: 5%;
}
main .about .row {
  margin: 0% 7%;
}
main .about .row .article {
  text-align: center;
}
main .about .row .article .icon {
  margin-bottom: 10%;
}
main .about .row .article .txt-title {
  margin-bottom: 10%;
  font-size: 20px;
  font-weight: 500;
}
main .about .row .article .txt {
  text-align: justify;
}
main .price {
  background-color: #286b0a;
  padding: 5%;
}
main .price .title {
  color: white;
  text-align: center;
}
main .price .txt {
  color: white;
  text-align: center;
  margin-bottom: 2%;
}
main .price .section {
  background-color: white;
  margin-right: 0%;
  margin: 0% 4%;
  padding: 1%;
  display: inline-block;
  text-align: center;
  font-family: "ProximaNova";
}
main .price .section .section-title {
  margin-bottom: 5%;
}
main .price .section .section-img {
  margin-bottom: 5%;
}
main .price .section .section-img img {
  width: 100%;
}
main .price .section .section-price {
  margin: 5% 0%;
}
main .price .section .section-reasons .reason {
  margin: 3% 0%;
}
main .price .section .section-reasons .reason img {
  width: 8%;
  margin-right: 5%;
}
main .price .section .section-reasons .first-section-last-reson {
  margin-bottom: 62%;
}
main .price .section .section-reasons .second-section-last-reson {
  margin-bottom: 27%;
}
main .price .section .section-reasons .third-section-last-reson {
  margin-bottom: 15%;
}
main .price .section .section-button {
  background-color: #ffb504;
  color: white;
  border-radius: 5px;
  padding: 5% 0%;
  border: none;
}
main .reviews {
  padding: 5% 10%;
  background-image: url(images/bk.png);
}
main .reviews .title {
  text-align: center;
}
main .reviews .carousel-inner {
  padding: 3%;
}
main .reviews .carousel-item {
  background-color: white;
  padding: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
main .reviews .carousel-item .images .main-img {
  width: 100%;
}
main .reviews .carousel-item .images img {
  padding-right: 0.1%;
}
main .reviews .carousel-item .rew .col {
  padding-bottom: 3%;
}
main .reviews .carousel-item .rew .comment img {
  width: 90%;
  margin: 0% 4%;
}
main .reviews .carousel-item .rew .comment .col-11 {
  text-align: justify;
  position: absolute;
  bottom: 3%;
  left: 3%;
}
main .reviews a {
  background-color: #49bf15;
  width: 3%;
  height: 10%;
  margin-top: 20%;
}
main .reviews .col-8 {
  text-align: center;
  background-color: white;
  margin: 5% 20%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
main .reviews .col-8 .title {
  padding: 2% 0%;
  text-align: center;
}
main .reviews .col-8 form {
  margin: 2% 5%;
}
main .reviews .col-8 form input {
  width: 40%;
  border-radius: 5px;
  height: 3rem;
  border: 1px solid #ddd;
  display: inline-block;
}
main .reviews .col-8 form .input-name-txt {
  position: absolute;
  left: 23%;
  bottom: 75%;
  background-color: #fff;
  padding: 0% 2%;
  color: #565656;
}
main .reviews .col-8 form .input-tel-txt {
  position: absolute;
  left: 57%;
  bottom: 75%;
  background-color: #fff;
  padding: 0% 2%;
  color: #565656;
}
main .reviews .col-8 form .button {
  background-color: #ffb504;
  margin-top: 3%;
  border: none;
  border-radius: 5px;
  color: white;
  height: 50px;
  padding: 0% 5%;
}
main .reviews .img {
  width: 60%;
  position: absolute;
  top: -23%;
  right: 85%;
}
main .how-it-works {
  margin-top: 5%;
}
main .how-it-works .title {
  text-align: center;
}
main .how-it-works .col {
  text-align: center;
  margin-bottom: 3%;
}
main .how-it-works .row {
  padding: 3% 0% 3% 10%;
}
main .how-it-works .row .article {
  margin-left: 2%;
}
main .how-it-works .row .article .title {
  text-align: left;
  margin: 3% 0%;
}
main .how-it-works .img {
  position: absolute;
  right: 0%;
  top: 460%;
  width: 50%;
  height: 110%;
}
main .adv {
  margin-top: 5%;
  padding: 0% 10%;
}
main .adv .title {
  font-size: 3rem;
  color: #358015;
  text-align: center;
}
main .adv .txt {
  text-align: center;
  margin: 2% 0%;
}
main .adv .row {
  margin: 4% 0%;
}
main .adv .row .icon {
  margin: 5% 0%;
}
main .adv .row .txt {
  text-align: justify;
}
